# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: CXS REST API
  description: Specification of the CXS Oasis Standard 
  version: "1.0.0"
# the domain of the service
host: cxs.oasisopen.org
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /event/collect/{trackingId}:
    post:
      summary: An endpoint for data collection
      description: |
        Collect single or batched events from any client. This endpoint doesn't require any authentication but requires a valid sourceId. 
      parameters:
        - $ref: '#/parameters/trackingId'
        - name: payload
          description: An array of Event objects
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/CreateEvent'
      tags:
        - Events
      responses:
        204:
          description: No response returned in order to optimize perfromance
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'


  /profile:
    get:
      summary: Profiles
      description: |
        Access all profiles.
      parameters:
        - $ref: '#/parameters/query'
        - $ref: '#/parameters/properties'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/orderBy'
      tags:
        - Profile
      responses:
        200:
          description: An array of profiles
          schema:
            type: object
            items:
              $ref: '#/definitions/ProfileResult'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /profile/{profileId}:
    get:
      summary: Get explicit profile
      description: Access a specific profile.
      parameters: 
        - name: profileId
          in: path
          description: Specify the profiles unique ID
          type: string
          required: true
      tags:  
        - Profile
      responses:
        200:
          description: A single profile
          schema:
            type: object
            items:
              $ref: '#/definitions/Profile'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  trackingId:
    name: trackingId
    in: path
    description: The unique identifier of the tracker defined in your repository.
    required: true
    type: string
  query:  
    name: query
    in: query
    description: Valid query string
    required: false
    type: string
    format: TBD
  properties: 
    name: properties
    in: query
    description: Specify the properties to be returned, use * to return all. If not specified profile ids will be returned
    required: false
    type: array
    items: 
      type: string
  pageSize:
    name: pageSize
    in: query
    description: Number of items to be returned
    required: false
    type: number
    format: short
  offset:
    name: offset
    in: query
    description: Specify property to order by
    required: false
    type: string
    format: propertyname ASC|DESC
  orderBy:
    name: orderBy
    in: query
    description: Specify property to order by
    required: false
    type: string
    format: propertyname ASC|DESC
    
################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  ProfileResult:
    type: object
    properties:
      total:
        type: number
        format: long
        description: Total number of profiles matching this query
      offset:
        type: number
        format: long
        description: The requested offset in number of items, starting at 0
      pageSize:
        type: number
        format: short
        description: Requested number of items to be returned
      hits:
        type: array
        description: Query result
        items:
          $ref: '#/definitions/Profile'

  Profile:
    type: object
    properties:
      _id:
        type: string
        format: uuid
    additionalProperties:
      type: object

  CreateEvent:
    type: object
    properties:
      _eventType: 
        type: string
        description: the type of the current event
        # should we name it object, item or other instead?
      _target: 
        type: string
        description: The item/object the user interacted with
        # Should the Profile Id be available also as a cookie?
      _profileId:
        type: string
      _timestamp:
        type: string
        format: date-time
    required: ['_eventType', '_target', '_profileId']
  
#  Event:
#    type: object
#    properties:
#      _id:
#        type: string
#      _eventType: 
#        type: string
#        description: the type of the current event
#        # should we name it object, item or other instead?
#      _target: 
#        type: string
#        description: The item/object the user interacted with
#        # Should the Profile Id be available also as a cookie?
#      _profileId:
#        type: string
#      _timestamp:
#        type: string
#        format: date-time
#    required: ['_eventType', '_target', '_profileId']
      

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
